$nav-bg-color: #8DADB8 ;
$button-on-hover: #669999;

nav {
  width: 100%;
  height: 10%;
  max-height: 25px;

  // text-align: center;
  // display: inline-block;
} h5 {
  
}

.augment-nav {
    background-color: $nav-bg-color !important;

    button {
      position: center;
      font-size: 1.25em; 
      margin-bottom: 15px;
    }

    button:hover {
      font-weight: 700;
      text-shadow: 1px 1px 1px $button-on-hover;
      background-color: white;
     }
} 


//Logout button styling
.btn-xs {
position: absolute; 
bottom: 0;
left: 65px;
  }

#profileImage {
  position: absolute;
  z-index: 75;
  left: 0;
  top: 0;
  max-width: 48px;
  max-height: 48px;
}

.loginStyling {
margin-left: 50px;
}

.pinApple {
  float: center;
  text-align: center;
  position: absolute;
  // z-index: 50rem;
  right: 65rem;
  bottom: -10px;
}
.pineappleimg {
  position: relative;
  z-index: 5em;
  top: -7px;
  
  }

