.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
@import 'nav';


$font-stack:  'Josefin Sans', sans-serif;

.fixed-position {
  position: fixed;
  width: 100% !important;
  z-index: 99;
}

.row, header, nav, .container-fluid {
  margin: 0 !important;
  padding: 0 !important;
}


// body {
//   font-family: $font-stack;
//   background: #333 url(images/film-bg.jpg) no-repeat top left fixed;
//   background-size: cover;
//   margin: 0;
// }

nav {
  box-shadow: 0 5px 8px rgba(30,30,30,0.8);
}


.pin-list {
  background-color: rgba(50,50,50,0.7);
  box-shadow: 5px 5px 8px rgba(30,30,30,0.8),
    inset 3px 3px 5px rgba(170,170,170,0.5),
    inset -3px -3px 5px rgba(30,30,30,0.8);
  width: 170px;
  height: 300px;
  float: right;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  color: white;
  h4 {
    margin: 0;
    padding-top: 50px;
  }
}

// .watched-btn,
// .rating,
// .add-btn {
//   display: block;
//   margin: 0 auto;
// }



#pinWrapper {
  // position: relative;
  border: 2px solid black;
  .pinsimage {
    max-width: 15%;
    max-height:25%;
  }
}

#pinPositioner {
  border: 2px solid black;
  margin-top: 55px;
}

#find-results span {
  margin-left: 20px;
  font-size: 1.5em;
  font-weight: bold;
  vertical-align: center;
}

.hidden {
  display: none;
}

.pinit {
  position: absolute;
  z-index: 50;
  top: 0;
  left: 0;
  border: none;
  margin: 0;
  padding: 5px;
  background-color: rgba(0,0,0,0.5);
  border-radius: 0 0 0 5px;
  .pinit:hover {
    display: show;
  }
  span {
    font-size: 2em;
    margin: 0;
    padding: 0;
  }
}
