<form>
  <div class="form-group">
    <label for="songName">URL: </label>
    <input type="text" id="url" class="form-control" placeholder="URL" ng-model="newPin.url">
  </div>
  <div class="form-group">
    <label for="artistName">Image:</label>
    <input type="text" id="image" class="form-control" placeholder="Image URL" ng-model="newPin.image">
  </div>
  <div class="form-group">
    <label for "albumName">Title:</label>
    <input type="text" id="textTitle" class="form-control" placeholder="Pin Title" ng-model="newPin.text.title">
  </div>
  <div class="form-group">
    <label for "albumName">Description:</label>
    <input type="text" id="textDescription" class="form-control" placeholder="Description" ng-model="newPin.text.description">
  </div>
  <button type="button" class="btn btn-default" ng-click="addPin()">Create</button>
  <button type="button" class="btn btn-default" ng-click="closeAddPin()">Close</button>
</form>