<div class="container">

  <div ng-hide="authData">
    <div class="jumbotron">
      <h2> PinApple </h2>
      <p>To continue, please log into your PinApple account with either of the following:</p>
        <a href="#/pins" class="btn btn-lg btn-primary" ng-click="auth.$authWithOAuthPopup('facebook')"> Facebook</a>
        <a href="#/pins" class="btn btn-lg btn-warning" ng-click="auth.$authWithOAuthPopup('github')"> Github</a>
        <a href="#/pins" class="btn btn-lg btn-info" ng-click="auth.$authWithOAuthPopup('twitter')"> Twitter</a>
    </div>
  </div>

</div>
