<!-- MODAL: Prompt user to input URL -->
<div id="myModal3" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content" role="document">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Upload a Pin</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <input type="file" accept="image/*" name="img" id="uploadimage" class="form-control">
          <button type="button" id="nextUploadPin" class="btn btn-default" ng-click="uploadNewPin()">Next</button>
        </div>
      </div>
    </div>
  </div>
</div> <!-- CLOSE: Modal -->