<br>
<div>
  <div class="userProfileHeader">
    <div class="imageBoard">
      <img id="userImage" ng-src="{{currentPicURL}}">
      <h2>{{authData.password.email}}{{ authData.facebook.cachedUserProfile.first_name }} {{ authData.twitter.displayName }} {{ authData.github.displayName }} {{ authData.google.displayName }}</h2>
    </div>
  </div>
</div>

<div class="grid row">
  <div class="col-xs-4" id="boardDisplay">
    
  </div>
  
  <div id="boardDisplay" class="container col-xs-4" ng-repeat="key in pins | filter: authData.uid | filter: authData.key.url">
  <h4>{{key.text.title}}</h4>
    <div class="lgImgWrapper"> 
      <img class="lgImg" ng-src="{{key.image}}">
    </div>
    <ul class="boardThumbs row">
      <li><img class="smImg" ng-src="{{key.image}}"></li>
      <li><img class="smImg" ng-src="{{key.image}}"></li>
      <li><img class="smImg" ng-src="{{key.image}}"></li>
    </ul>   
  </div>

  <div id="boardDisplay" class="col-xs-4">
    
  </div>

</div>


