<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="lib/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles/style.css">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Nashville Software School</title>
  </head>
  <body ng-model="PinApp">
  
    <div ng-show="authData">
      <h5>Hello, <strong>{{ authData.facebook.displayName }}</strong></h5>
      <button class="btn btn-warning btn-xs" ng-click="auth.$unauth()">Logout</button>
    </div>
    <div ng-hide="authData">
      <h5>Welcome, please log in.</h5>
      <button class="btn btn-info btn-xs" ng-click="auth.$authWithOAuthPopup('facebook')">Login With Facebook</button>
    </div>
  <nav>
    
  </nav>        

        <div class="col-xs-12 main" ng-view>
          <section >

          </section>
        </div>
      </div>
    </div>


    <script src="lib/bower_components/jquery/dist/jquery.js"></script>
    <script src="lib/bower_components/angular/angular.js"></script>
    <script src="lib/bower_components/angular-route/angular-route.js"></script>
    <script src="lib/bower_components/firebase/firebase.js"></script>
    <script src="lib/bower_components/angularfire/dist/angularfire.min.js"></script>
    <script src="app/app.js"></script>
    <script src="app/controller/PinCtrl.js"></script>

      
  </body>
</html>